body{
	margin:0;
	font-family: 'Quicksand', sans-serif;
}
.header p{
	font-family: 'Permanent Marker', cursive;
	font-size:1.7rem;
	margin-top:0.3rem;
	color:white;
	text-align:center;

}
.side-nav{
	padding-left:2rem;
	background-color:rgb(220,220,220);
}
.side-nav h1{
	margin-top:3rem;
	margin-bottom:2 rem;
}
.main-nav{

}
.main-nav a{
	display:block;
	margin-bottom:1.3rem;
	margin-left:1rem;
	text-decoration:none;
	color:rgb(80,80,80);
	transition:color 0.4s;
}
.main-nav a:hover, .main-nav a:focus{
	color:white;
}
.header{
	background-color:rgb(134,175,73);
}


.content{
	background-color:white;
}
.box{
	border-color:rgb(80,80,80);
}