
/*-------------------------------12 GRID Structure---------------------*/
.grid-col-12of12{
	width:100%;
}
.grid-col-12of8, .small-col-12of8{
	float:left;
	width:65%;
}
.grid-col-12of7{
	float:left;
	width:58%;
}

.grid-col-12of6{
	float:left;
	width:50%;
}
.grid-col-12of5{
	float:left;
	width:42%;
}
.grid-col-12of4, .small-col-12of4, .grid-full-col-12of4, .medium-col-12of4 {
	float:left;
	width:33.3%;
}
.grid-col-12of3{
	float:left;
	width:23%;
}
.grid-col-12of2, .medium-col-12of2{
	width:16%;
}
.grid-col-12of1{
	width:8.3%;
}

