body{
	margin:0;
}
/*
	SETTING FONTS-------------------------------------------------
	*/
h1{
  font-family: 'Permanent Marker', cursive;
  margin:0;
}
h2{
  font-family: 'Hind Vadodara', sans-serif;
  margin:0;
  font-size:1.3rem;
  color:rgb(80,80,80);
}
h3{
  font-family: 'Quicksand', sans-serif;
  color:rgb(134,175,73);
  margin:0;
  font-size:1.1rem;
}
h4{
  font-family: 'Quicksand', sans-serif;
  font-size:0.9rem;
  margin:0;
}
p, label{
  font-family: 'Quicksand', sans-serif;
  font-size:0.8rem;
  margin:0;
}

a{
  font-family: 'Quicksand', sans-serif;
  cursor:pointer;
  font-size:0.8rem;
  margin:0;
  text-decoration:none;
}
/* 
  ------------------------------MAIN NAVIGATION ---------------------------
  */
header{
  display:fixed;
  position:fixed;
  top:0;
  margin:0;
  width:100%;
  z-index:100;
}

#main-nav{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(134,175,73);
  width:100%;
  height:60px;
}
.main-nav-section{
  display:flex;
  align-items: center;
}
.main-nav-left{
  margin-left:60px;
  text-decoration: none;
}
#logo{
  font-size:1.7rem;
  font-weight:normal;
    color:white;
    margin:0;
}
#main-nav-links{
  padding:0;
}
#main-nav-links a{
  text-decoration: none;
  font-size:0.9rem;
  margin-left:0.7rem;
  margin-right:0.7rem;
  color:white;
  padding:0.4rem 0.6rem;
  border:solid 1px rgb(134,175,73); 
  transition:border ease-out 0.1s;
}
#main-nav-links a:hover, #main-nav-links a:focus, #main-nav-links a:active{
  border:solid 1px white;
}
.main-nav-right{
  margin-right:60px;
}
#search-form{
   margin-right:0.5rem;
}
#search-form input{
  height:28px;
  border:none;
  color:white;
  border-bottom:1px solid white;
  background-color:rgb(134,175,73);
  font-size:0.9rem;
  font-family: 'Quicksand', sans-serif;
  width:8rem;
}
#search-icon img{
  margin-top:0.5rem;
  height:20px;
  width:auto;
}
#hamburger-icon.hidden{
  visibility: hidden;
  display: none;
}
/*-----------page-indicator----------------*/
.page-indicator{
  text-align:center;
  color:rgb(157,157,157);
}
.page-indicator a:hover, .page-indicator a:active, .page-indicator a:focus{
  text-decoration: underline;
}
/*------------------footer----------------------*/
footer{
  display:block;
  float:left;
  width:100%;
  background-color:rgb(246,246,246);
}
footer p{
  text-align:center;
  margin-top:1rem;
}
footer a{
  text-align:center;
  color:rgb(134,175,73);
  font-size:0.9rem;
  font-weight:bold;
  margin-bottom:1rem;
}
footer a:hover, footer a:focus, footer a:active{
  text-decoration: underline;
}
/*------------------------------------------INTRO SCREEN----------------------------------------*/
.img-gallery{
  float:left;
  position:relative;
  width:100%;
}
.img-gallery img{
  width:100%;
  height:auto;
}
#content-nav{
  position:absolute;
  width:100%;
  height:4.6rem;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(237,237,237,0.9);
}
.content-nav-item{
  display:inline-block;
  text-align:center;
  margin-top:1.5rem;
  font-size:1rem;
  font-weight:bold;
  color:rgb(80,80,80);
  transition:color ease-out 0.1s;
}
.content-nav-item:hover, .content-nav-item:focus{
  color:rgb(134,175,73);
  text-decoration: underline;
}
.underline-text{
  text-decoration: underline;
}
/*--------------Containers---------------*/
.top-container{
  float:left;
  display:block;
  margin-left:6.5%;
  margin-right:6.5%;
  width:87%;
  margin-top:2rem;
}
.inner-container{
  	display:blcok;
  	float:left;
  	margin-left:15%;
  	width:70%;
  	margin-top:3rem;
  	margin-bottom:3rem;
}
.container-box{
  display:block;
  float:left;
  margin-top:60px; 
  width:100%;
}
/*Page Guide*/
.guide{
  	float:left;
  	width:100%;
}
.guide a{
  	color:black;
  	transition:color ease-out 0.1s;
}
.guide a:hover, .guide a:focus{
  	color:rgb(234,86,68);
}
/*----------------Content-----------------*/
/*featured event*/
.container{
  display:block;
  float:left;
  margin-left:5%;
  margin-right:5%;
  margin-top:1rem;
  margin-bottom:3rem;
  width:90%;
}
.event-container{
  display:block;
  float:left;
}
.content-title{
  width:100%;
  display:inline-block;
  margin-top:3rem;
  margin-bottom:1.5rem;
}
.content-title h2{
  float:left;
  margin-left:1.5%;
}

.content-title a{
  float:right;
  margin-right:3%;  
}
.content-title a:hover, .content-title a:active, .content-title a:focus{
  text-decoration: underline;
}
.img-container{
  display:block;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:0.5rem;
  width:90%;
  height:14rem;
  background-position: center;
  background-size:cover;
}
#sfu-hack{
  background-image:url('../img/SFU-hack.png');
}
#ubc-bustur{
  background-image:url('../img/UBC-bustur.png');
}
#ubc-plant{
  background-image:url('../img/UBC-plant.png');
}
.content-container{
  display:block;
  margin-left:5%;
  margin-right:5%;  
  margin-bottom:3rem;
  width:90%;
}
.top-content{
  width:100%;
  display:inline-block;
  margin-top:0.3rem;
}
.top-content h3{
  float:left;
}
.top-content h4{
  float:left;
  margin-left:0.3rem;
  margin-top:0.2rem;
  text-decoration:line-through;
}
.gray{
  float:right;
  margin-top:0.3rem;
  color:rgb(157,157,157);
}
.center-content{
  display:block;
  margin-top:0.6rem;
}
.center-content a:hover, .center-content a:focus, .center-content a:active{
  text-decoration: underline;
}
.bottom-content{
  display:block;
  margin-top:0.5rem;
}

.category-img{
  display:block;
  float:left;
  margin-bottom:1rem;
}
.img-heading{
  position:relative;
  top:6rem;
  font-size:1.5rem;
  text-align:center;
  color:white;

}
.img-heading:hover{
  text-decoration: underline;
}
/*promoted-event*/
.promoted-bar{
  display:block;
  margin-left:5%;
  margin-right:5%;
  width:90%;
  height:1.2rem;
  background-color:rgb(239,120,43);
}
.promoted-bar p{
  text-align:center;
  color:white;
  padding-top:0.1rem;
}
#food-service{
  background-image:url('../img/food-service.png');
}
#photography{
  background-image:url('../img/photography-class.png');
}
#creative-class{
  background-image:url('../img/creative-class.png');
}
/*all categories section*/
#fitness{ 
  background-image:url('../img/fitness.jpg');
}
#business{
  background-image:url('../img/business.jpg');
}
#music{
  background-image:url('../img/music.jpg');
}
#fashion{
  background-image:url('../img/fashion.jpg');
}
#art{
  background-image:url('../img/art.jpg');
}
#design{
  background-image:url('../img/design.jpg');
}
#tech{
  background-image:url('../img/tech.jpg');
}
#math{
  background-image:url('../img/math.jpg');
}
#science{
  background-image:url('../img/science.jpg');
}
/* 
  ABOUT PAGE --------------------------------------------------------
  */
#about-image{
  display:block;
  float:left;
  margin-top:40px;
}
#about-image img{
	width:100%;
	height:auto;
}
.value-block{
  margin-bottom:3rem;
}
#about-img1{
  background-image:url('../img/about1.jpg');
}
#about-img2{
  background-image:url('../img/about2.jpg');
}
#about-img3{
  background-image:url('../img/about3.jpg');
}
.about-para{
  display:block;
  float:left;
  margin-top:1rem;
}

/* 
  PRODUCT INFO PAGE --------------------------------------------------------
  */
  .box-shadow{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .pdt-shortInfo{
  	display:block;
  	float:left;
  	width:100%;
  	border-bottom:solid 0.3px rgb(220,220,220);
  }

  .pdt-image{
  	float:left;
  	width:100%;
  	height:auto;
  }
  .pdt-content{
  	display:block;
  	float:left;
  	width:100%;
  	margin-bottom:5rem;
  }
  .ticket-btn{
  	display:block;
  	text-align:center;
  	margin-bottom:1rem;
  	padding:0.4rem 0 0.4rem 0;
  	width:100%;
  	border:solid 2.3px;
  	border-color:rgb(234,86,68);
  	background-color:white;
  	color:rgb(234,86,68);
  	text-decoration: none;
  	transition:background-color ease-out 0.3s;
  }
  .ticket-btn:hover, .ticket-btn:focus,.btn:hover, .btn:focus{
  	background-color:rgb(234,86,68);
  	color:white;
  }
  .ticket-btn-filled{
  	display:block;
  	text-align:center;
  	margin-bottom:1rem;
  	padding:0.4rem 0 0.4rem 0;
  	width:100%;
  	border:solid 2.3px;
  	border-color:rgb(234,86,68);
  	background-color:rgb(234,86,68);
  	color:white;
  	text-decoration: none;
  	transition:background-color ease-out 0.1s;
  }
  .ticket-btn-filled:hover, .ticket-btn-filled:focus, .btn-filled:hover, .btn-filled:focus{
  	background-color:rgba(234,86,68,0.7);
  }
  .in-text-nav{
  	color:rgb(234,86,68);
  }
  .pdt-info{
  	float:left;
  	margin-left:15%;
  	width:70%;
  }
  .pdt-small-info{
  	margin-bottom:3rem;
  }
  .pdt-top-info{
  	display:block;
  	margin-left:10%;
  	width:80%;
  	margin-top:2rem;
  }
  .pdt-bottom-btn{
  	display:block;
  	margin-left:10%;
  	width:80%;
  	margin-top:5rem;
  }
  .location{
  	color:black;
  	text-decoration: underline;
  	text-decoration-color: black;
  	transition:color ease-out 0.1s;
  }
  .location:hover, .location:focus{
  	color:rgb(234,86,68);
  }
  .product-grayed{
  	font-size:0.9rem;
  	color:rgb(178,178,178);
  }
  #map{
  	display:block;
  	width:100%;
  	margin-top:1rem;
  	height:200px;
  }
/*-----------------------------------EVENT GALLERY----------------------------------*/
#sec-nav{
  display:block;
  float:left;
  width:100%;
}
#sec-nav-bar{
  display:block;
  float:left;
  width:100%;
  margin-top:60px;
  height:4.3rem;
  background-color:rgba(237,237,237,0.9);
}
#filter-box{
  height:4.5rem;
  margin-bottom:4rem;
  border:2px solid rgb(134,175,73);
}
.filter-box-border{
  display:inline-block;
  float:left;
  height:4.5rem;
  border-right:2px solid rgb(134,175,73);
}
.filter-text{
  display:block;
  float:left;
  width:100%;
  color:rgb(134,175,73);
  margin-left:1rem;
  margin-top:0.3rem;
}
.filter-choice{
  display:block;
  float:left;
  margin-left:0.5rem;
  margin-top:0.6rem;
  border:none;
  height:30px;
  width:auto;
  font-size:0.9rem;
  color:rgb(80,80,80);
  white-space:pre-wrap;
  background-color:white;
}
.set-width{
  width:80%;
}
.set-select-width{
  width:60%;
}
.btn-filled{
  margin-right:1rem;
}
/*----------------------------------SIGN IN -----------------------------------*/
.signin-box{
  display: block;
  float: left;
  margin-top:1rem;
  padding-top:2rem;
  padding-bottom:2rem;
  margin-left:5%;
  width:90%;
  background-color:rgb(246,246,246);
}
.grey-box{
  background-color:rgba(134,175,73, 0.2);
}
.signin-box h3{
  text-align:center;
  margin-bottom:1rem;
}
.input-block{
  margin-bottom:1rem;
}
.signin-box form{
  text-align: center;
}
.text-input{
  width:55%;
  height:2rem;
  font-size:0.8rem;
  border:none;
  padding-left:1rem;
}
/*----------------------------------CART PAGE---------------------------------------*/
.quantity-form{
	float:left;
	width:50%;
	margin-top:0.8rem;
	margin-bottom:1.5rem;
}
.price-form{
	float:left;
	width:50%;
	margin-bottom:1.5rem;
}
.quantity-form label{
	float:left;
	margin-right:1rem;
}
.quantity-selector{
	float:left;
	border:solid 1px rgb(134,175,73);
	width:30%;
	font-size: 0.8rem;
	padding:0.2rem 0 0.2rem 0.2rem;
}
.buttons{
	float:right;
	width:100%;
	margin-top:1.5rem;
	margin-bottom:3rem;
}
.btn{
	float:left;
	text-align:center;
	margin-bottom:1rem;
	padding:0.4rem 1rem;
	border:solid 2.3px;
	border-color:rgb(234,86,68);
	background-color:white;
	color:rgb(234,86,68);
	text-decoration: none;
	transition:background-color ease-out 0.3s;
}

.btn-filled{
	float:right;
	text-align:center;
	margin-bottom:1rem;
	padding:0.4rem 1rem;
	background-color:rgb(234,86,68);
	color:white;
	text-decoration: none;
	transition:background-color ease-out 0.3s;
} 
 /* PAYMENT PAGE --------------------------------------------------------
  */
  .back-image{
  	position: relative;

  }
  .margin-container{
  	margin-top:100px;
  	margin-bottom: 150px;
  }

  .pay-container{
  	float:left;
  	width:100%;
  	margin-top:2rem;
  	padding:2rem;
  	background-color:rgb(250,250,250);
  }

  .summary-line{
  	border-bottom: 1px solid black;
  	margin: 1rem 0;
  }


  .pay-container h3{
  	display: inline-block;
  	margin-bottom: 30px;

  }

  .pay-container h4{
  	text-align: center;
  	color: rgb(134,175,73);
  	display: inline-block;
  	margin-top: 2.5px;

  }

  .pay-container label{
  	float: left;
  	margin-right: 10px;
  }

  .pay-container input{
  	width: 80%;
  	height:1rem;
  	margin-bottom: 0.5rem;
  	border:solid 1px rgb(200,200,200);
  }
  .pay-container input.radio{
  	width: 3%;
  }

a#pay-btn{
	padding: 0.5rem 2rem;
	width: 20%;
	margin: 0 35%;
}


  form img{
  	height: 35px;
  	width: auto;
  	margin-right: 25px;
  }

  input#expire1,   input#expire2{
  	display: inline-block;
  	width: 40%;
  }

  input#cvv{
  	width: 80px;
  }


  form.card-type{
  	display: inline-block;
  	float: left;
  	width: 100%;
  }

  .pay-title{
  	font-weight: bolder;
  	font-size: 1.2em;
  }

  .back-image h1{
  	position: relative;
  	text-align: center;
  	color: blue;
  	margin: 0;
  	bottom: 200px;
  }

  .prod-container{
  	margin-left: 5%;
  	margin-bottom: 100px;
  } 

  .separate-line{
  	border: 1px solid black;
  	margin: 3em 0;
  }

  .filter-bar {
  	text-align: center;
  	margin: 4em;
  	margin-bottom: 0;
  }

  .filter-bar h3{
  	margin: 1.5em;
  }
/*
  COMMENTS PAGE --------------------------------------------------------
  */
  .comment-container{
  	width:100%;
  	margin-top:67px;

  }
  .pdt-comments-summary{
  	float:left;
  	width:100%;
  	border-bottom:solid 0.3px rgb(220,220,220);
  }
  .nums-item{
  	margin-top:0.5rem;
  	margin-bottom:1.5rem;
  	text-align:center;
  }
  .nums-item p{
  	margin-top:0.6rem;
  }
  .pdt-title {
  	text-align:center;
  	margin-top:1.5rem;
  	border-right:solid 0.3px rgb(220,220,220);
  }

  .pdt-title p{
  	font-size:0.8rem;
  	color:rgb(178,178,178);
  	margin-top:0.3rem;
  }
  .comment-block{
  	border:solid 1px rgb(200,200,200);
  	margin-right:3%;
  	margin-bottom:1%;
  }
  .comment-top{
  	width:100%;
  }
  .comment-bottom{
  	margin-top:0.5rem;
  	margin-left:5%;
  	width:90%;
  }
  .comment-bottom a{
  	text-decoration:none;
  	color:rgb(134,175,73);
  }
  .comment-img{
  	width:100%;
  	height:auto;
  }
  .comment-area{
  	border-top:solid 1px rgb(200,200,200);
  	margin-top:1rem;
  	margin-bottom:1rem;
  }
  .comment-form{
  	display:block;
  	float:left;
  	width:70%;
  	margin-top:0.5rem;
  	margin-bottom:0.5rem;
  }
  .comment-form input{
  	border:none;
  	height:30px;
  	font-size:0.8rem;
  }
  .submit-btn{
  	float:right;
  	width:20%;
  	font-size:0.8rem;
  	text-align:center;
  	padding:0.2rem;
  	margin-top:0.7rem;
  	border:solid 2.3px;
  	border-color:rgb(134,175,73);
  	color:rgb(134,175,73);
  	transition:background-color ease-out 0.3s;
  }
  .submit-btn:hover,.submit-btn:focus{
  	background-color:rgb(134,175,73);
  	color:white;
  }
  .load-section{
  	display:block;
  	float:left;
  	width:100%;
  	margin-bottom:3rem;
  }
  .load-section a{
  	text-align:center;
  	color:rgb(180,180,180);
  }
  .load-section a:hover, .load-section a:focus{
  	text-decoration: underline;
  	cursor:pointer;

  }

  /*events list*/

  .events-container{
  	margin: 0 10%;
  }

  .events-container h1{
  	margin-top: 7rem;
  }


  .events-container select{
  	font-family: 'Quicksand', sans-serif;
  	height: 40px;
  	margin-bottom: 1rem;
  }

  .events-container input{
  	float: none;
  	height: 40px;
  	background-color: white;
  }

/* 
  COMFIRMATION PAGE --------------------------------------------------------
  */
  .confirmation-info{
  	display:block;
  	float:left;
  	width:100%;
  	text-align:center;
  	margin-bottom:3rem;
  }
  #complete-logo{
  	display:block;
  	margin:auto;
  	width:12%;
  }
  .product-summary{
  	float:left;
  	width:100%;
  }
  .pdt-info{
  	margin-top:1rem;
  	margin-bottom:2rem;
  }
  .ticket-method{
  	margin-left:10%;
  	width:80%;
  	float:left;
  	margin-top:1.5rem;
  	margin-bottom:1rem;
  }
  .ticket-method img{
  	width:30%;
  	height:auto;
  }
  .ticket-method p{
  	width:70%;
  	text-align:center;
  	margin-top:17%;
  	transition:color ease-out 0.1s;
  }
  .ticket-method p:hover,.ticket-method p:focus{
  	cursor:pointer;
  	color:rgb(239,120,42);
  	text-decoration: underline;
  }
/*
	PAYMENT PAGE
	*/

	.table-block{
		width:100%;
		float:left;
		background-color:rgb(230,240,240);
		margin-bottom:3rem;
		padding-bottom:3rem;
	}
	.row{
		width:100%;
		float:left;
	}

	/*----------------------------------------------------------------------------------*/
	/*----------------------------------@MEIDA STYLING----------------------------------*/
	@media(max-width:965px){
  /*fonts*/
  h2{
    font-size:1.1rem;
  }
  h4{
    font-size:0.8rem;
  }
  /*grid systems*/
  .grid-col-12of4{
    width:50%;
  }
  /*about page*/
  .grid-col-1of3.about-segment{
    float: left;
    display: inline-block;
    margin: 10px;
    margin-bottom: 40px;
  }
  .grid-col-12of8{
    width:100%;
  }
  .grid-full-col-12of4{
    float:left;
    width:100%;
  }
  /*main-nav*/
	#main-nav{
    height:50px;
  }
  #logo{
    font-size:1.4rem;
  }
  #main-nav-links.hidden{
    visibility: hidden;
    display: none;
  }
  #hamburger-icon{
    position:relative;
    margin-left:2rem;
    width:20px;
    height:20px;
    cursor:pointer;
  }
  #hamburger-icon::after{
    content: '';
    display:block;
    box-shadow: 0 3px 0 0.7px white, 
    0 12px 0 0.7px white, 
    0 20px 0 0.7px white;
  }
  #main-nav-links{
    position:absolute;
    top:50px;
    right:0;
    height:180px;
    width:33.3%;
    background-color:white;    
  }
  #main-nav-links a{
    display:block;
    text-align:center;
    margin-top:0.5rem;
    color:rgb(134,175,73);
    border:1px solid white;
  }
  #main-nav-links a:hover, #main-nav-links a:active, #main-nav-links a:focus{
    border:1px solid rgb(134,175,73);
  }
  #search-form input{
    height:20px;
  }
  /*home page*/
  #content-nav{
    height:3rem;
  }
  .content-nav-item{
    margin-top:0.8rem;
    font-size:0.9rem;
  }
  .content-title h2{
    margin-left:2.5%;
  }
	/*product page grid strcture change*/
	.pdt-top-info{
		float:left;
		width:70%;
		margin-left:5%;
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
	.pdt-bottom-btn{
		float:right;
		margin:0;
		margin-right:5%;
		width:20%;
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
	/*comment page*/
	.home-container{
		margin-top:50px;
	}
	.comment-block{
		margin-bottom:2rem;
	}
	/*payment*/
  a#pay-btn{
  	width: 30%;
  	margin: 0 25%;
  }
  /*event gallery*/
  #sec-nav-bar{
    margin-top:50px;
    height: 3rem
  }
  #sec-nav-bar a{
    font-size:0.9rem;
  }
  /*event gallery*/
  .filter-choice{
    font-size:0.8rem;
  }
  #filter-box{
    height:4rem;
  }
  .filter-box-border{
    height:4rem;
  }
  .set-select-width{
    width:40%;
  }
}

	@media(max-width:680px){
    .img-gallery{
      float:left;
      margin-top:40px;
    }
    #main-nav{
      height:40px;
    }
		#logo{
			font-size:1.2rem;
		}
    .main-nav-left{
      margin-left:20px;
    }
    .main-nav-right{
      margin-right:20px;
    }
    #search-form input{
      width:6rem;
    }
    #main-nav-links{
      top:40px;
      width:100%;
    }
    #hamburger-icon{
      margin-left:1.5rem;
    }
		.container{
			margin:0;
			width:100%;
		}
    .content-nav{
      height:3rem;
    }
    .content-nav-item{
      font-size:0.9rem;
    }
		/*comment page*/
		.grid-col-12of4{
			width:100%;
		}
		/*home page*/
		.search-bar{
			position:relative;
			margin-top:-11rem;
			margin-bottom:4rem;
			margin-left:5%;
			width:90%;
		}
		.search-bar h1{
			font-size:1.2rem;
		}

		.grid-col-2of4{
			width: 100%;
		}

		.pdt-img img{
			width:100%;
			height: auto;
		}
    /*event gallery*/
    #sec-nav-bar{
      margin-top:40px;
      height:2.5rem;
    }
    #sec-nav-bar a{
      font-size:0.8rem;
    }
    .medium-col-12of4, .medium-col-12of2{
      width:100%;
    }
    #filter-box{
      height:19rem;
    }
    .set-select-width{
      width:80%;
    }
    .filter-box-border{
      border-right:none;
      border-bottom:2px solid rgb(134,175,73);
    }
    .btn-filled{
      display: block;
      float:left;
      width:80%;
      margin-left:5%;
      margin-right:5%;
      margin-top:0.5rem;
    }
    .filter-choice{
      margin-top:0.2rem;
      margin-left:0.7rem;
    }
	}

	@media(max-width:415px){
    #logo{
      font-size:1rem;
    }
    h2{
      font-size:0.9rem
    }
    h3{
      font-size:0.8rem;
    }
    h4{
      font-size:0.78rem;
      font-weight:bolder;
    }
    p,a,label{
      font-size:0.7rem;
    }
    #search-form input{
      width:5rem;
    }
    #search-icon img{
      margin-top:0.3rem;
      height:17px;
      width:auto;
    }
    #hamburger-icon{
      width:18px;
    }
    #hamburger-icon::after{
      content: '';
      display:block;
      box-shadow: 0 5px 0 0.5px white, 
      0 11px 0 0.5px white, 
      0 17px 0 0.5px white;
    }
    .content-nav-item{
      font-size:0.7rem;
    }
		/*product page*/
		.pdt-top-info{
			width:80%;
			margin-left:10%;
			padding-bottom:0;
		}
		.pdt-bottom-btn{
			float:left;
			margin-left:10%;
			padding-top:0;
			width:80%;
		}
		.ticket-method{
			margin-left:2%;
			width:96%;
			margin-top:0;
		}
		.ticket-method p{
			margin-top:10%;
		}
		.grid-col-12of6{
			margin-left:15%;
			width:70%;
		}
		.btn{
			float:left;
			width:80%;
		}
	}



	/*@media (max-width: 1069px){
    .grid-col-1of3{
      width: 45%;
    }

  }


  @media (max-width: 897px){

    .grid-col-1of3{
      width: 45%;
    }

    .category .grid-col-2of3 img{
      height: 100%;
      width: auto;
      transition: all 0.5s ease;
    }

    .category .grid-col-1of3 img{
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
    }

    .category .grid-col-1of3, .category .grid-col-2of3 {
      display: inline-block;
      float: left;
      width: 45%;
    }

    .events-container .grid-col-1of3{
      width: 45%;
    }

    .category .grid-col-2of3 img:hover{
      width: auto;
      height: 110%;
    }

    .category .grid-col-1of3 img:hover{
      width: 120%;
      height: 120%;
    }


 .pay-container input{
        width: 60%;
       }



  input#expire1,   input#expire2{
width: 25%;
  }

  }




    @media (max-width: 52em){



      /*THIS IS NOT WORKING. WONT FLOAT LEFT.*/
     /* .pay-container label{
        float: left;
      }



      .grid-col-1of3{
        width: 45%;
      }


      .events-container .grid-col-1of3{
        width: 45%;
      }

      .grid-col-1of4{
        width: 100%;
      }

      .home-image .search-bar h1{
        font-size: 1.5rem;
        bottom:80%;
      }


    }


    @media (max-width: 35em){ 

      .category .grid-col-1of3, .category .grid-col-2of3{
        width: 100%;
        min-width: 200px;
      }

      .category .grid-col-1of3 img{
        width: 100%;
        height: auto;

      }

      .category .grid-col-2of3 img{
        width: auto;
        height: 100%;

      }


      .category .grid-col-1of3 img:hover{
        width: 110%;
        height: auto;
      }



      .category .grid-col-2of3 img:hover{
        width: auto;
        height: 110%;
      }

/*payment*/
/*a#pay-btn{
  padding: 0.5rem 2rem;
  width: 50%;
  margin: 0 15%;
}
      

      div.events-container{
        margin: 100px 5%;
      }

      .grid-col-1of3{
        width: 100%;
      }


      .grid-col-1of4{
        width: 100%;
      }
      .events-container .grid-col-1of3{
        width: 90%;
      }

    }*/
