body{
	display: block;
	margin:0;
}
h1{
	font-family: 'Permanent Marker', cursive;
	margin:0;
}
h2{
	font-family: 'Hind Vadodara', sans-serif;
	margin:0;
	font-size:1.3rem;
	color:rgb(80,80,80);
}
h3{
	font-family: 'Quicksand', sans-serif;
	color:rgb(134,175,73);
	margin:0;
	font-size:1.1rem;
}
h4{
	font-family: 'Quicksand', sans-serif;
	font-size:0.9rem;
	margin:0;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size:0.8rem;
	margin:0;
}
.gray{
	color:rgb(157,157,157);
}
a{
	font-family: 'Quicksand', sans-serif;
	cursor:pointer;
	font-size:0.8rem;
	margin:0;
	text-decoration:none;
}
/*---------------------------------------MAIN NAVIGATION---------------------------------*/
header{
	display:fixed;
	position:fixed;
	top:0;
	margin:0;
	width:100%;
	z-index:100;
}

#main-nav{
	display:inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color:rgb(134,175,73);
	width:100%;
	height:60px;
}
.main-nav-section{
	display:flex;
	align-items: center;
}
.main-nav-left{
	margin-left:20px;
	text-decoration: none;
}
#logo{
	font-size:1.7rem;
	font-weight:normal;
  	color:white;
  	margin:0;
}
#main-nav-links{
	padding:0;
}
#main-nav-links a{
	text-decoration: none;
	font-size:0.9rem;
	margin-left:0.7rem;
	margin-right:0.7rem;
	color:white;
	padding:0.4rem 0.6rem;
	border:solid 1px rgb(134,175,73);	
	transition:border ease-out 0.1s;
}
#main-nav-links a:hover, #main-nav-links a:focus, #main-nav-links a:active{
	border:solid 1px white;
}
/*--------------------hightlight is NOT working--------------*/
/*#highlight-item{
	border:solid 1px white;
}*/
.main-nav-right{
	margin-right:20px;
}
#search-form{
   margin-right:0.5rem;
}
#search-form input{
	height:28px;
	border:none;
	color:white;
	border-bottom:1px solid white;
	background-color:rgb(134,175,73);
	font-size:0.9rem;
	font-family: 'Quicksand', sans-serif;
}
#search-icon img{
	margin-top:0.5rem;
	height:20px;
	width:auto;
}

#hamburger-icon{
	position:relative;
	margin-left:2rem;
	width:20px;
	height:20px;
	cursor:pointer;
}
#hamburger-icon::after{
	content: '';
	display:block;
	box-shadow: 0 3px 0 1px white, 
	0 12px 0 1px white, 
	0 20px 0 1px white;
}
#hamburger-icon.hidden{
	visibility: hidden;
	display: none;
}
/*#main-nav-links.hidden{
	visibility: hidden;
	display: none;
}*/
/*------------------------------------------INTRO SCREEN----------------------------------------*/
#img-gallery{
	float:left;
	position:relative;
	width:100%;
}
#intro-img{
	width:100%;
	height:auto;
}
#content-nav{
	position:absolute;
	width:100%;
	height:4.6rem;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(237,237,237,0.9);
}
.content-nav-item{
	display:inline-block;
	text-align:center;
	margin-top:1.5rem;
	font-size:1rem;
	font-weight:bold;
	text-decoration:underline;
	color:rgb(80,80,80);
	transition:color ease-out 0.1s;
}
.content-nav-item:hover, .content-nav-item:focus{
	color:rgb(134,175,73);
}
/*-----------------------------------------Content(Featured event, promoted, all categories)-----------------------------------------*/
/*featured event*/
.container{
	display:block;
	float:left;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:3rem;
	width:90%;
}
.content-title{
	width:100%;
	display:inline-block;
	margin-top:3rem;
	margin-bottom:1.5rem;
}
.content-title h2{
	float:left;
	margin-left:1.5%;
}

.content-title a{
	float:right;
	margin-right:3%;
}
.event-container{
	display:block;
	float:left;
	width:100%;
}
.img-container{
	display:block;
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:14rem;
	background-color:pink;
}
.content-container{
	display:block;
	margin-left:5%;
	margin-right:5%;	
	width:90%;
}
.top-content{
	width:100%;
	display:inline-block;
	margin-top:0.8rem;
}
.top-content h3{
	float:left;
}
.top-content h4{
	float:left;
	margin-left:0.3rem;
	margin-top:0.2rem;
	text-decoration:line-through;
}
.top-content p{
	float:right;
}
.center-content{
	display:block;
	margin-top:0.6rem;
}
.bottom-content{
	display:block;
	margin-top:0.5rem;
}

.category-img{
	display:block;
	float:left;
	width:100%;
	margin-bottom:2rem;
}
/*promoted-event*/
.promoted-bar{
	display:block;
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:1.2rem;
	background-color:rgb(239,120,43);
}
.promoted-bar p{
	text-align:center;
	color:white;
	padding-top:0.1rem;
}
/*---------------------------------GRID--------------------------------*/
.grid-col-4of12{
	width:33%;
}
.grid-col-12of12{
	width:100%;
}
/*------------------------------------------RESPONSIVE STYLING----------------------------------------*/

@media(max-width:965px){
	#search-form input{
		width:60px;
	}
}















/*.main-nav-left-item{
	font-family: 'Hind Vadodara', sans-serif;
	color:rgb(134,175,73);
	text-decoration: none;
	font-size:1rem;
	padding: 0.2rem 0.8rem;
	border:solid 2px rgb(134,175,73);
	background-color:white;
	transition:background-color ease-out 0.3s;
}

.main-nav-left-item:hover{
	background-color:rgb(134,175,73);
	color:white;
}


.main-nav-right-item, .dropdown-content a{
	font-family: 'Quicksand', sans-serif;
	display:inline-block;
	color:rgb(134,175,73);
	margin-right:0.5rem;
	padding:0.3rem 1.3rem;
	font-size:0.9rem;
	text-decoration: none;
	border:solid 2px white;
	transition:border ease-out 0.3s;
}
.main-nav-right-item:hover{
	border:solid 2px rgb(134,175,73);
}
.slide-bar{
		display:block;
		position:fixed;
		width:300px;
		top:0;
		bottom:0;
		left:-300px;
		z-index:100;
}

.dropdown-content{
	display: none;
}

.dropdown-content a:hover, .dropdown-content a:focus,{
color: rgb(239,120,42);
}

.dropdown img{
	margin-top: 0.5rem;
	height: 15px;
}

.hamburger-icon{
	visibility: hidden;
}

.content-wrapper{
	width:100%;
	height:400px;
	background-color:pink;
}*/

/*----------------------------------------------------------------------------------*/
/*----------------------------------@MEIDA STYLING----------------------------------*/
/*@media(max-width:950px){
	#main-nav{
		height:50px;
	}
	#logo{
		right:0;
		left:42%;
	}
	#logo h1{
		margin-top:0.4rem;
		font-size:1.7rem;
	}
	.main-nav-left-item{
		font-size:0.9rem;
		border:2px solid;
		padding:0.1rem 0.8rem 0.2rem 0.8rem;
		text-align:center;
	}
	.hamburger-icon{
		visibility: visible;
		position:relative;
		width:20px;
		cursor:pointer;
	}
a.hamburger-icon{
	margin-right: 30px;
}

/*	.hamburger-icon::after{
		content: '';
		display:block;
	    box-shadow: 0 -6px 0 1px rgb(134,175,73), 
	   				0 1px 0 1px rgb(134,175,73), 
	   				0 8px 0 1px rgb(134,175,73);
	}*/

	.main-nav-right-content{
		position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    width: 250px;
	    -webkit-transform: translateX(1100px);
	}
	.main-nav-right-item{
		display:block;
		height:40px;
		text-align:text;
		border-bottom: 1px solid rgb(134,175,73);
	}
	.slide-bar.show{
		left:0;
		background-color:black;
		transition: all 0.3 ease-in-out;
	}
	.site-pusher,
  .site-container {
    height: 100%;
  }

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}



	.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	visibility: visible;
    display: none;
    	float: right;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -50px;
}

.dropdown-content a{
	display: block;
		text-align:center;
			transition: all ease-out 0.3s;
}


.dropdown:hover .dropdown-content {
    display: block;
}

}

@media(max-width:400px){

#logo{
    left: 10%;
}

div.main-nav-left div.main-nav-section{
display: none;
}

}*/